<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Final Challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5599BF471BD7B6B5008F29E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5599BF5E1BD7B6B6008F29E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5599BF691BD7B6B6008F29E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
